<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/farmo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/farmo_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Farmo"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.commonActivities.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.commonActivities.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.commonActivities.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".activities.consumerActivities.ConsumerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.farmerActivities.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".activities.commonActivities.OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.farmerActivities.MyProductsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.farmerActivities.ReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.commonActivities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.authActivities.Login_ActivateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.authActivities.FP_IdentifyUserActivity"
            android:exported="false" />
        <activity
            android:name=".activities.authActivities.FP_ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.authActivities.FP_VerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.authActivities.FP_ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.farmerActivities.FarmerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.authActivities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.commonActivities.BazarActivity"
            android:exported="false" />
        <activity
            android:name=".activities.commonActivities.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.farmerActivities.FarmerOrderManagementActivity"
            android:exported="false" />
        <activity
            android:name=".activities.commonActivities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.commonActivities.ShowConnectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.commonActivities.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.authActivities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>